* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  -webkit-font-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
blockquote,
ol,
ul {
  width: 700px;
  margin: 0 auto;
}

p,
blockquote,
ol,
ul {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 50px;
}

h1 + p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-family: "PT Sans Captoin", "PT Sans", sans-serif;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin: 30px auto;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 42px;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  margin-top: 36px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 32px;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 10px;
}

img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}

ul {
  list-style-type: disc;
  padding-left: 26px;
}

ol {
  list-style-type: decimal;
  padding-left: 26px;
}

blockquote {
  font-style: italic;
  border-left: solid, #000;
  position: relative;
}

blockquote::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: -20px;
}

/* 
body {
  color: rgb(0, 0, 0);
  margin: 80px;
  max-width: 1080px;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
}

h2 {
  font-size: 17px;
  line-height: 19px;
  margin-bottom: 28px;
}

h3 {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 28px;
}

h4 {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 28px;
}

.lid {
  margin-top: 36px;
  margin-bottom: 52px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 20px;
}

.lid2 {
  padding-top: 52px;
}

/* Общие свойства абзацев и списков */
/* 
p,
ol,
ul {
  font-size: 11px;
  line-height: 23px;
}

p {
  margin-bottom: 28px;
}

/* Стилизация нумерованных списков */

/* ПОПРАВИТЬ границы!!! */
/* 
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ol > li {
  padding-left: 17px;
  margin-bottom: 0px;
}

/* Стилизация ненумерованного списка */
/* 
ul {
  list-style-type: disc;
  list-style-position: inside;
  /* margin-left: 14px; ????} */

/* Стилизация картинки */
/* 
img {
  width: 1020px;
  margin-top: 90px;
  margin-bottom: 90px;
}

/* Цитаты */
/* 
blockquote {
  font-style: italic;
  font-size: 11px;
  line-height: 23px;
  border-left: 3px solid #000;
  padding-left: 17px;
  margin-bottom: 52px;
}

.margin {
  margin-bottom: 64px;
}
*/
